@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>
    <ul>
        <li>.NET MVC Web Application</li>
        <li>.NET Framework 4.62</li>
        <li>JQuery 3.3.1</li>
        <li>Bootstrap 3.3.1</li>
        <li>CSS 2/3</li>
        <li>FontAwesome</li>
        <li>HTML 5</li>
    </ul>
</p>
