@{
    ViewBag.Title = "Home Page";
}

<div class=wrapper>
    <p>
        <span class="firstLetter">K</span>
        onger Solution is owned by a small group of talented .NET web developers. Each of team members has 10+ years of solid experience in designing & developing scalable and enterprise web application. This site is designed and implemented from scratch by following the best practice guideline of building a modern and mobile web application with the following features: high performance, user intuitive, scalability and maintainable.
        <p style="padding-left:80px">Welcome to our new MVC Mobile Application, built with:</p>
        <ul style="padding-left:80px">
            <li><a href='https://get.asp.net/' target="_blank">ASP.NET 4.6.2</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx' target="_blank">C# 7.0</a> for cross-platform server-side code</li>
            <li><a href='https://jquery.com/' target="_blank">JQuery 3.3.1</a> </a> for client-side code</li>
            <li><a href='http://getbootstrap.com/' target="_blank">Bootstrap 3.3.1</a> and <a href='https://fontawesome.com/' target="_blank">FontAwesome</a> for layout and styling</li>
            <li><a href='https://visualstudio.microsoft.com/vs/' target="_blank">Visual Studio 2017</a> for develpment IDE</li>
            <li><a href='https://github.com/' target="_blank">GitHub</a> for source code management</li>
            <li><a href='https://aws.amazon.com/ec2/' target="_blank">Amazon Elastic Compute Cloud (EC2)</a> for compute (virtual machine)</li>
        </ul>

    </p>



    <p>
        <span class="firstLetter">R</span>
        esponsive Web Design (mobile friendly): An approach to web design aimed at crafting sites to provide an optimal viewing and interaction experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from desktop computer monitors to mobile phones). Responsive web design is becoming more important as the amount of mobile traffic now accounts for more than half of total Internet traffic.
    </p>
    <p class="text-center">
        <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-tablet fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
    </p>
    <p>
        <span class="firstLetter">C</span>
        ross-Browser Compatibility (browser agnostic): A website is compatible with multiple major Web browsers, such as Chrome, Internet Explorer, Safari, and Firefox.
        This means a website must ensure that their design works properly and that its appearance is error-free and functional on any platform used to view it, which includes Windows, Macintosh, IOS, and Android.
    </p>

    <p class="text-center">
        <a href="https://www.google.com/chrome/" target="_blank"><img src="~/Images/Google-Chrome-icon.png" /></a>&nbsp;&nbsp;
      
        <img src="~/Images/Internet-Explorer-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Firefox-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Safari-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Windows-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Systems-Mac-Os-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/ios-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/android-platform-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Blackberry-icon.png" />
    </p>
</div>