@{
    ViewBag.Title = "Home Page";
}

<div class=wrapper>
    <p>
        <span class="firstLetter">A</span>
        Konger Solution is owned by a small group of talented .NET web developers. Each of team members has 10+ years of solid experience in designing & developing scalable and enterprise web application. This site is designed and implemented from scratch by following the best practice guideline of building a modern and mobile web application with the following features: high performance, user intuitive, scalability and maintainable.
  
        <ul style="padding-left:80px">
            <li class="small">.NET MVC Web Application</li>
            <li class="small">.NET Framework 4.62</li>
            <li class="small">Restful API</li>
            <li class="small">JQuery 3.3.1</li>
            <li class="small">Bootstrap 3.3.1</li>
            <li class="small">CSS 2/3</li>
            <li class="small">FontAwesome</li>
            <li class="small">HTML 5</li>
        </ul>
     
  

    </p>
    <p>
        <span class="firstLetter">R</span>
        esponsive Web Design (mobile friendly): An approach to web design aimed at crafting sites to provide an optimal viewing and interaction experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from desktop computer monitors to mobile phones). Responsive web design is becoming more important as the amount of mobile traffic now accounts for more than half of total Internet traffic.
    </p>
    <p class="text-center">
        <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-tablet fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-desktop fa-5x" aria-hidden="true"></i>
    </p>
    <p>
        <span class="firstLetter">C</span>
        ross-Browser Compatibility (browser agnostic): A website is compatible with multiple major Web browsers, such as Chrome, Internet Explorer, Safari, and Firefox.
        This means a website must ensure that their design works properly and that its appearance is error-free and functional on any platform used to view it, which includes Windows, Macintosh, IOS, and Android.
    </p>

    <p class="text-center">

        <img src="~/Images/Google-Chrome-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Internet-Explorer-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Firefox-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Safari-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Windows-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Systems-Mac-Os-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/ios-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/android-platform-icon.png" />&nbsp;&nbsp;
        <img src="~/Images/Blackberry-icon.png" />
    </p>
</div>